@media  screen and (max-width:500px){
    *{
        max-width: 446px;
    }
    .header{
        max-width: 446px;
    }
    .header__link>li, .header__btn{
        display: none;
    }
    .header>a>h1{
        width: 206px;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
    .mobile-menu{
        display: inline-block;
    }
    .section-1{
        display: none;
    }
    .section-2{
        display:block;
        height: 672px;
    }
    .section-2__container>h1{
        display: block;
    }
    .section-2__container>p{
        display: block;
    }
    .section-2__container{
        display: block;
    }

}